.board {
   width: 100%;
   display: flex;
   justify-content: center;
   position: relative;
   top: 100px;
}
.board .artBoard {
   width: 700px;
   font-size: 3em;
}
.board .artBoard table {
   background-image: url(../../images/banners/fondoNegro.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   font-family: DS-Digital;
   color: #fff;
   display: flex;
   flex-direction: column;
}
.board .artBoard table tr {
   display: flex;
   justify-content: space-around;
}
.board .artBoard table tr .value {
   font-size: 2.5em;
}
.board .artBoard table tr #time {
   font-size: 3em;
}
.board .artBoard table tr #room {
   font-size: 1.8em;
}
.board .artBoard table tr td {
   display: flex;
}
.board .artBoard:nth-child(2) {
   width: 1000px;
}
.board .artBoard:nth-child(2) table tr td {
   width: 100%;
   padding-left: 30px;
}
.board .artBoard:nth-child(2) table tr:nth-child(1) {
   font-size: .4em;
   font-weight: bold;
}
.board .artBoard:nth-child(2) table tr {
   font-size: .7em;
}
.board .artBoard table tr td div {
   width: 15px;
   height: 15px;
   margin: 0 5px;
   border-radius: 50%;
   background-color: #d03432;
   box-shadow: 0 0 10px #d03432, 
   0 0 30px #d03432, 
   0 0 15px #d03432,
   inset 1px 1px 2px #fff;
}
.board .artBoard table tr td input {
   width: 70px;
   background-color: #d0353200;
   border: 0;
   color: #fff;
   font-size: 1.2em;
   font-weight: bold;
   font-family: DS-Digital;
}
[type="checkbox"]{display: none;}
label {
   padding-left: 1.3em;
   position: relative;
}
label:before {
   content: ' ';
   width: 15px;
   height: 15px;
   margin: 0 5px;
   border-radius: 50%;
   background-color: #2cbb68;
   box-shadow: 0 0 10px #2cbb68, 
   0 0 30px #2cbb68, 
   0 0 15px #2cbb68,
   inset 1px 1px 2px #fff;
   position: absolute;
   left: 0;
}
[type="checkbox"]:checked + label::before {
   background-color: #d03432;
   box-shadow: 0 0 10px #d03432, 
   0 0 30px #d03432, 
   0 0 15px #d03432,
   inset 1px 1px 2px #fff;
}